{% block aboutus %}
<section id="about-us" class="section about-us">
    <div class="container">

        <!---->
        <header class="section-heading">
            <h2>About Us</h2>
            <span>Everything you need to know about our Company</span>
        </header><!-- section-heading -->
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">
{% for board in boards %}
                    <!-- about-left -->
                    <div class="about-content left">
                        <h4>We're Creative</h4>
                        <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut voluptas quaerat consectetur.</p>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-center -->
                    <figure class="about-content center">
                        <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.image1 }}" alt="">
                    </figure>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-right -->
                    <div class="about-content right">
                        <h4>We're Friendly</h4>
                        <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis  susc ipitaut voluptas quaerat dolorum.</p>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- /About Us -->
{% endfor %}
{% endblock aboutus %}
