{% block aboutus %}
<section id="about-us" class="section about-us">
    <div class="container">

        <!---->
        {% for board in boards %}

        <header class="section-heading">
            <h2>{{ board.headlineabout }}</h2>
            <span></span>
        </header><!-- section-heading -->
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">
                    <!-- about-left -->
                    <div class="about-content left">
                        <p>{{ board.bodyleftabout }}</p>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-center -->
                    <figure class="about-content center">
                        <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.image1 }}" alt="">
                    </figure>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-right -->
                    <div class="about-content right">
                        <p>{{ board.bodyrightabout }}</p>
                      </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- /About Us -->
{% endfor %}
{% endblock aboutus %}
