{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{% static 'images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#000000">
    <title>{% block title %}agLANs{% endblock %}</title>
{% block stylesheet %}
<!-- css -->
<link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'lib/fontawesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/owlcarousel/owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'lib/owlcarousel/owl-carousel/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'lib/FlexSlider/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'lib/magnific-popup/dist/magnific-popup.css' %}">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,300,400">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400">

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/ie_fix.css' %}">

<script src="{% static 'lib/components-modernizr/modernizr.js' %}"></script>
<script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endblock %}  <!-- HERE -->
  </head>
  <body data-spy="scroll" data-target="#main-nav-collapse" data-offset="100">
    {% block body %}  <!-- HERE -->
    <!-- Fixed Top Navigation -->
    <nav id="fixedTopNav" class="navbar navbar-fixed-top main-navigation" itemscope itemtype="https://schema.org/SiteNavigationElement" >
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                    <span class="sr-only">agLANs</span>
                    <span class="ion-drag"></span>
                </button>
                <!-- Logo -->
                <div class="navbar-brand" itemscope itemtype="https://schema.org/Organization">
                    <span itemprop="name" class="sr-only">agLANs</span>
                    <a itemprop="url" href="{% url 'home' %}">
                        agLANs
                    </a>
                </div>
                <!-- /Logo -->

            </div><!-- /.navbar-header -->
            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="main-nav-collapse">
                <ul class="nav navbar-nav navbar-right" role="menu">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Home</span></a>
                            </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>BNS</span></a>
                        </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">power</a>
                            </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>NOC Smart</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Components</span></a>
                    </li>

                </ul>
            </div>
            <!-- /Navigation Links -->

        </div><!-- /.container -->
    </nav>
    <!-- /Fixed Top Navigation -->
    <!-- Header -->
    <header id="header" class="header-wrapper home-parallax home-fade dark-bg bg-10">

        <!-- Background Youtube player start-->
        <div id="videoBackground"
             class="overlay"
             data-property="{
                            videoURL:'https://www.youtube.com/watch?v=1ufqweCJm2k',
                            containment:'.header-wrapper',
                            startAt:22,
                            stopAt:290,
                            mute:false,
                            autoPlay:true,
                            loop:true,
                            opacity:1,
                            showControls:false,
                            showYTLogo:false,
                            vol:25}"></div>
        <!-- Background Youtube player end -->

        <!-- Youtube controls start-->
        <div class="video-controls-box">
            <div class="container">
                <div class="video-controls">
                    <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
                    <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
                </div>
            </div>
        </div>
        <!-- Youtube controls end -->

        <div class="color-overlay"></div>
        <div class="header-wrapper-inner">
            <div class="container">

                <div class="intro">
                  1.{% for board in boards %}
                    <h1>{{ homepage.headline }}</h1>
                    <p>{{ homepage.subhead }}</p>
                    {% endfor %}
                    2.{% for headline1 in boards %}
                      <h1>{{ homepage.headline }}</h1>
                      <p>{{ homepage.subhead }}</p>
                      {% endfor %}
                    <a href="#services" class="btn btn-default-o onPageNav">Our Services</a>
                </div><!-- /.intro -->

            </div><!-- /.container -->

            <div class="arrow-down">
                <a href="#about-us" class="onPageNav">
                    <i class="ion-ios-arrow-down"></i>
                </a>
            </div><!-- /.arrow-down -->

        </div><!-- /.header-wrapper-inner -->
    </header>
    <!-- /Header -->
    <!-- About Us -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Django Boards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li><a class="nav-item dropdown"href="{% url 'bns' %}">bns</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
              <a class="dropdown-item" href="{% url 'password_reset' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
            </div>
          </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
      {% endif %}
    </div>
  </div>
</nav>
  <div class="container">
    <ol class="breadcrumb my-4">
      {% block breadcrumb %}
      {% endblock %}
    </ol>
    {% block content %}
    {% endblock %}
  </div>

{% endblock body %}
{% load static %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
      <script>
        var simplemde = new SimpleMDE();
      </script>
    {% endblock %}  <!-- Add this empty block here! -->

  </body>
</html>
