{% block bns %}
<section id="video" class="section video-player dark-bg">
    <div class="color-overlay"></div>
    {% for board in boards %}

    <div class="container" id="video-info">
        <div class="row">
            <div class="col-sm-5">

                <!-- video-left -->
                <div class="video-left">
                    Watch Our<br>Video
                </div>

            </div><!-- col-sm-4 -->

            <div class="col-sm-2">

                <!-- Play Button -->
                <a id="playVideo" href="#" class="btn video-icon">
                    <i class="ion-ios-play-outline"></i>
                </a>

            </div><!-- col-sm-4 -->

            <div class="col-sm-5">

                <!-- video-right -->
                <div class="video-right">
                    Create Your Own Slogan <br>Golden Ratio <br>Here
                </div>

            </div><!-- col-sm-4 -->
        </div><!-- row -->

    </div><!-- container -->

</section>
{% endfor %}
{% endblock bns %}
