{% block bns %}
<section id="video" class="section video-player dark-bg">
    <div class="color-overlay"></div>
    {% for board in boards %}

    <div class="container" id="video-info">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-3">
                {{ board.sectionbnswireless}}
              </div>
                <div class="col-sm-6">
                  <figure class="about-content center">
                      <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imagebns1 }}" alt="">
                  </figure>
                </div>

            </div><!-- col-sm-4 -->



            <div class="col-sm-6">

                <!-- video-right -->
                <div class="video-right">
                    Create Your Own Slogan <br>Golden Ratio <br>Here
                </div>

            </div><!-- col-sm-4 -->
        </div><!-- row -->

    </div><!-- container -->

</section>
{% endfor %}
{% endblock bns %}
