{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}
<section id="main">
    <div class="wrapper">
    {% block main %}{% endblock %}
    </div>
</section>
{% block content %}
{% load static %}
<section id="about-us" class="section about-us">
    <div class="container">

        <!---->
        <header class="section-heading">
          {% for homepage in boards %}
            <h1>{{ homepage.headline1 }}</h1>
            <p>{{ subhead.homepage }}</p>
            {% endfor %}
            <h2>About Us</h2>
            <span>Everything you need to know about our Company</span>
        </header><!-- section-heading -->
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- about-left -->
                    <div class="about-content left">
                        <h4>We're Creative</h4>
                        <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut voluptas quaerat consectetur.</p>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-center -->
                    <figure class="about-content center">
                        <img class="img-responsive center-block" src="{% static 'img/about-us/center_image.jpg' %}" alt="">
                    </figure>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-right -->
                    <div class="about-content right">
                        <h4>We're Friendly</h4>
                        <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis  susc ipitaut voluptas quaerat dolorum.</p>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ board.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=board.get_last_post %}
  {% if post %}
    <small>
      <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
        By {{ post.created_by.username }} at {{ post.created_at }}
      </a>
    </small>
  {% else %}
    <small class="text-muted">
      <em>No posts yet.</em>
    </small>
  {% endif %}
{% endwith %}
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
