{% block noc %}
{% for board in boards %}
<!-- Service -->
<section id="services" class="section services">
    <div class="container">
      <div id="videoBackground"
           class="overlay"
           data-property="{
                          videoURL:'{{ MEDIA_URL }}{{ board.imagenoc2 }}',
                          containment:'.header-wrapper',
                          startAt:22,
                          stopAt:290,
                          mute:false,
                          autoPlay:true,
                          loop:true,
                          opacity:1,
                          showControls:false,
                          showYTLogo:false,
                          vol:25}"></div>
      <!-- Background Youtube player end -->

      <!-- Youtube controls start-->
      <div class="video-controls-box">
          <div class="container">
              <div class="video-controls">
                  <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
                  <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
              </div>
          </div>
      </div>
        <!---->
        <header class="section-heading">
            <h2>{{ board.sectionnocheadline }}</h2>
            <span>{{ board.sectionnocsubhead }}</span>
        </header>
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-albums-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">{{ board.sectionnoc1head }}</h4>
                            <p class="text-center">{{ board.sectionnoc1 }}</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-americanfootball-outline"></span>
                        </div>
                        <div class="about-service">
                          <figure class="about-content center">
                              <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imagenoc1 }}" alt="">
                          </figure>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-game-controller-b-outline"></span>
                        </div>
                        <div class="about-service">
                          <h4 class="text-center">{{ board.sectionnoc2head }}</h4>
                          <p class="text-center">{{ board.sectionnoc2 }}</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->


        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Service -->
{% endfor %}
{% endblock noc %}
