{% block noc %}
{% for board in boards %}
<!-- Service -->
<section id="services" class="section services">
    <div class="container">

        <!---->
        <header class="section-heading">
            <h2>{{ board.sectionnocheadline }}</h2>
            <span>{{ board.sectionnocsubhead }}</span>
        </header>
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-albums-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">{{ board.sectionnoc1head }}</h4>
                            <p class="text-center">{{ board.sectionnoc1 }}</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-americanfootball-outline"></span>
                        </div>
                        <div class="about-service">
                          <figure class="about-content center">
                              <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imagenoc1 }}" alt="">
                          </figure>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-game-controller-b-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Game Development</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->

            <div class="row secondrow">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-lightbulb-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Creative Theme</h4>
                            <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-pie-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Making Stretagy</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service last">
                        <div class="service-icon text-center">
                            <span class="ion-ios-cart-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Business Solution</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Service -->
{% endfor %}
{% endblock noc %}
