{% block ridr %}
{% for board in boards %}
<!-- Why-choose-us -->
<section id="why-choose-us" class="section why-choose-us">
    <div class="container">
        <header class="section-heading">
            <h2>{{ board.sectionridrheadline }}</h2>
            <span>{{ board.sectionridrsubhead }}</span>
        </header>

        <div class="section-content">
            <div class="row">
                <div class="col-sm-3 why-explain-wrap">

                    <!-- why-choose-us-text -->
                    <h4>{{ board.sectionridr1head }}</h4>
                    <div class="why-explain top top-1">
                        <p>{{ board.sectionridr1 }}</p>
                        <figure class="about-content center">
                            <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imageridr1 }}" alt="">
                        </figure>
                    </div>

                </div><!-- col-md-4 col-sm-6 -->

                <div class="col-sm-3 why-explain-wrap">

                    <!-- why-choose-us-text -->
                    <h4>{{ board.sectionridr2head }}</h4>
                    <div class="why-explain top top-2">
                        <p>{{ board.sectionridr2 }}</p>
                        <figure class="about-content center">
                            <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imageridr2 }}" alt="">
                        </figure>
                    </div>

                </div><!-- col-md-4 col-sm-6 -->

                <div class="col-sm-3 why-explain-wrap">

                    <!-- why-choose-us-text -->
                    <h4>{{ board.sectionridr3head }}</h4>
                    <div class="why-explain top top-3">
                        <p>{{ board.sectionridr3 }}</p>
                        <figure class="about-content center">
                            <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imageridr3 }}" alt="">
                        </figure>
                    </div>

                </div><!-- col-md-4 col-sm-6 -->
                <div class="col-sm-3 why-explain-wrap">

                    <!-- why-choose-us-text -->
                    <h4>{{ board.sectionridr4head }}</h4>
                    <div class="why-explain top top-3">
                        <p>{{ board.sectionridr4 }}</p>
                        <figure class="about-content center">
                            <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ board.imageridr4 }}" alt="">
                        </figure>
                    </div>

                </div><!-- col-md-4 col-sm-6 -->
                <p>{{ board.sectionridrbody }}</p>

            </div><!-- row -->

        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- /Why-choose-us -->
{% endfor %}
{% endblock ridr %}
